@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="row justify-content-md-center">
    <div class="col-md-auto">
        <div class="card">
            <ul class="list-group list-group-flush">
                <a asp-page="/WatchedShows" class="list-group-item list-group-item-action">Watched Shows</a>
            </ul>
        </div>
    </div>
</div>
