@page "{handler?}"
@model WatchedModel
@{
    ViewData["Title"] = "Watched";
}

<div class="row justify-content-center">
    <div class="col-9">
        <table class="table table-striped" id="watched-table">
            <thead>
            <tr>
                <th>Title</th>
                <th class="text-end">Play Date</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<form method="post" enctype="multipart/form-data" id="import-form" class="d-none">
    <input asp-for="ImportType" type="text" id="import-type"/>
    <input asp-for="ImportFile" type="file" id="import-file"/>
</form>

@section scripts
    {
    <script src="~/js/watched.js" asp-append-version="true"></script>
}